<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="static/closebyContact.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Bilkent Pandemic Manager</title>
  </head>
  <body>
    <div class="container-fluid"style="margin: 0; padding: 0;">
        <div class="row">
            <div class="col-md-2" id="navbar">
                <script>
                    $(function(){
                    $("#navbar").load("navbar.html");
                    });
                </script>
            </div>
            <div class="col-md-10">
                <div class="mt-5">
                    <h1 style="color:aqua">Overall Corona Report in Bilkent</h1>
                </div>
                <div class="div" style="background-color: white;">
                    <b style="font-size: 22px;" class="mt-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolores sit sapiente tempore ducimus quia quasi, quae sed id quo eaque iste, expedita architecto laborum iusto odit, voluptatem totam quisquam.
                        Voluptates, rem quis. Necessitatibus perferendis corporis, ipsum ratione adipisci odio vel fugiat expedita ducimus? Amet, placeat. Sequi deleniti aspernatur tenetur dicta pariatur, quod earum, quia officia obcaecati expedita nihil rerum!
                        Explicabo optio deleniti reiciendis sequi quo nesciunt amet! Eos voluptatum sapiente maxime iusto magni? Consequuntur error vitae facilis quas cumque assumenda neque culpa sapiente commodi dolores. Sed maxime quaerat suscipit!
                        Ullam culpa magni nesciunt quae quibusdam velit placeat similique? Nostrum cumque fugit alias atque hic laborum temporibus vel quibusdam ut totam. Earum magni et consequatur sunt quam doloribus quisquam cupiditate.
                        Porro, quo eveniet! Autem magnam quasi iure dolor nesciunt eligendi. Neque harum, dicta temporibus tempora porro, autem minima architecto repellendus non impedit atque perferendis, recusandae vel officia dolor fugit doloribus.
                        Quis excepturi nulla facilis illum, quod maxime non quas odit distinctio, eaque, voluptatum iste eveniet debitis perferendis deserunt? Inventore perspiciatis eaque error quia doloribus quo nulla laboriosam iste excepturi recusandae!
                        Molestias numquam itaque eaque expedita voluptates est sit officiis cupiditate, nisi ullam quia totam corporis maiores amet aut deserunt id. Minus pariatur laboriosam velit iusto nisi quasi possimus corrupti delectus.
                        Praesentium nam, nulla error impedit sunt iste asperiores facere libero voluptatum voluptas similique distinctio doloremque deserunt dolores rerum illum sed tempore vitae nihil ullam nemo iure esse suscipit. Explicabo, impedit.
                        Id repellat labore quisquam adipisci, ipsam molestias doloribus dolorum dolorem sapiente eius, eos dolores placeat voluptas commodi ea magni, libero perspiciatis accusamus praesentium fugit consequatur? Quibusdam alias dicta voluptate aut.
                        Esse, nemo? Dolorum omnis, corrupti libero facilis nobis, inventore quas sed quis impedit nam nesciunt aspernatur aut asperiores tenetur accusamus, cupiditate optio voluptatum amet. Beatae perferendis dolor nam recusandae iure?
                    </b>
                </div>
            </div>
        </div>
    </div>
  </body>