<div class="d-flex flex-column text-white bg-dark vh-100">
    <img src="./images/bilkentlogo.png">
    <span class="fs-5">Bilkent Pandemic Manager</span>
    
    
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="findUser.html" class="nav-link active" aria-current="page">
          <img src="./images/folder-open.png">
          <span class="fs-5">Find User</span>
        </a>
      </li>
      <li>
        <a href="coursesAdmin.html" class="nav-link text-white">
            <img src="./images/academic-cap.png">
            <span class="fs-5">Courses</span>
        </a>
      </li>
      <li>
        <li>
          <a href="dormitory.html" class="nav-link text-white">
              <img src="./images/dorm.png" width="20">
              <span class="fs-5">Dormitories</span>
          </a>
        </li>
        <li>
        <a href="riskcalculator.html" class="nav-link text-white">
            <img src="./images/ampul.png">
            <span class="fs-5">Risk Calculator</span>
        </a>
      </li>
      <li>
        <a href="covidreportsmain.html" class="nav-link text-white">
            <img src="./images/6. articles.png">
          <span class="fs-5">Covid-19 Reports</span>
        </a>
      </li>
      <li>
        <a href="news.html" class="nav-link text-white">
            <img src="./images/Vector.png">
          <span class="fs-5">News</span>
        </a>
      </li>
      <li>
        <a href="send_feedback.html" class="nav-link text-white">
            <img src="./images/feedback.png" width="20">
          <span class="fs-5">Send Feedback</span>
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>User Name Here</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">Signout</a></li>
      </ul>
    </div>
  </div>